/* INDEX */

body{
  margin: 0 auto;
  padding: 0;
}

.header1 {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;;
  background-color: #496ac9;
  padding: 25px;
  top: 0;
  align-items: center;
  z-index: 1000;
  
  }


  h1 {
    color: white;
    font-family: "Lobster", sans-serif;
    font-size: 32px;
    margin: 0;
    margin-left: 80px; /* Decrease margin-left to move left */
    
}

.nav-item.active {  
  background-color: #0a3edd;
  color: #ffffff;
}

.navigationbar{
  display: flex;
  justify-content: center;
  max-width: 100%;
  position: fixed; 
  top: 10px;
  width:100%; 
  align-items: center;
  margin: 0 auto;
  padding-right: 20px;
  left:90px;
  }   
  

.navigation {
  display: flex; 
  list-style: none; 
  padding: 0; 

}


.nav-item {
  display: flex;
  background-color: #fff;
  padding:10px; 
  text-align: center; 
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color:#496ac9;
  border: 3px solid #a3baff;
  border-radius: 7px;


}


.navigation a {
  text-decoration: none; 
  color:inherit;
}


.nav-item:hover {
  background-color: #0a3edd; 
  color:#ffffff;
  background-position: 20px 0; 
}


.headerContainer {
  background-image: url("images/cabecera.jpg");
  background-size: 100%; 
  background-position: center 0px; 
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 78px;
  padding:0;
}

.titulo {
  
  display: flex; 
  flex-direction: column-reverse; 
  background-color:rgba(73, 106, 201, 0.4);
  color:#ffffff;
  padding-right:20px;
  padding-left: 60px;
  text-align: right;
  font-family: "Lobster", sans-serif;
  font-size: 20px;
  position: absolute; 
  top: 190px; 
  margin-left: 100px;
  width: 200px;
  height: 180px;
}

 
.logo2{
 margin-left: -40px;
  margin-bottom: -95px;
  width: 70px;
  height: auto; 
}

.socialmedia1 {
  position: fixed; 
  top: 50%; 
  left: 80px;
  transform: translate(-50%, -50%); 
  z-index: 1000; 
}

.socialmedia1 ul {
  list-style-type: none;
  margin:0px;
  padding: 0;
  align-items: center;
  background-color: #496ac95e;
  border-radius:25px;
  padding-left: 5px; 
  padding-right: 5px;
  height:300px;
  width:60px;
}

.socialmedia1 a i {
  font-size: 24px;
  margin-top: 7px;
  margin-left: 10px;
  vertical-align: middle;
}

.socialmedia1 a {
  position: relative;
  display: inline-block;
  text-align: center;
}


.circle-icon1 {
  background-color: #e1306c;
  padding:8px;
  border-radius: 50%;
  width: 25px; 
  height: 25px; 
  display: inline-block; 
}


.circle-icon2 {
  background-color: #3B5998;
  padding:8px;
  border-radius: 50%;
  width: 25px; 
  height: 25px; 
  display: inline-block; 
}

.circle-icon3 {
  background-color: #111111;
  padding:8px;
  border-radius: 50%;
  width: 25px; 
  height: 25px; 
  display: inline-block;  
}

.circle-icon4 {
  background-color:#0E76A8;
  padding:8px;
  border-radius: 50%;
  width: 25px; 
  height: 25px; 
  display: inline-block;  
}

.circle-icon5 {
  background-color:#00ACEE;
  padding:8px;
  border-radius: 50%;
  width: 25px; 
  height: 25px; 
  display: inline-block; 
}



.instagram1 i {
  color: #fff; 
}

.facebook1 i{
  color: #fff; 
}

.tiktok1 i{
  color: #fff; 
}

.linkedin1 i{
  color: #fff; 
}

.twitter1 i{
  color: #fff;
}


.instagram1 .circle-icon1:hover {
  background-color:#ffffff; 
  color: #000000; 
}

a.facebook1 .circle-icon2:hover {
  background-color:#ffffff;
  color: #000000; 
}

a.tiktok1 .circle-icon3:hover {
  background-color:#ffffff; 
  color: #000000; 
}

a.linkedin1 .circle-icon4:hover {
  background-color:#ffffff; 
  color: #000000; 
}

a.twitter1 .circle-icon5:hover {
  background-color:#ffffff; 
  color: #000000; 
}




.containercolumns {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: flex-start;
  max-width: 1170px;
  width:70%;
  margin: 0 auto; 
  gap: 10px;
  padding: 0px; 
  box-sizing: border-box; 
  margin-top: 20px;
}


.column1, .column2, .column3, .column4{
  flex: 1 1 50px;
  padding: 10px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

.column1 {
  flex-grow: 3; 
  background-color: #ffffff;
  min-width: 300px; 
}

.column1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; 
  line-height: 1.5; 
}

.column1 h2 {
  font-family: "Lobster", sans-serif;
  font-size: 25px; 
  color: #496ac9;
}

.column1 button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: 2px solid #a3baff;
  padding: 10px 80px; 
}


.column2, .column3, .column4 {
  flex: 1 1 150px; 
  max-width: 200px; 
  height: 400px;
  text-align: center;
 
}


.column2 {
  background-color: #6a4aa1;
}

.column3 {
  background-color: #d01e55;
}

.column4 {
  background-color: #000000;
}


.column2 .fas.fa-shopping-cart,
.column3 .fa-solid.fa-hand-holding-heart,
.column4 .fa-solid.fa-leaf {
  font-size: 60px; 
  color: #ffffff;
  margin-top: 20px; 
}

.column2 h2, .column3 h2, .column4 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px; 
  color: #ffffff;
  margin-top: 30px; 
}

.column2 p, .column3 p, .column4 p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; 
  color: #ffffff;
  margin-top: 20px; 
}


.column2, .column3, .column4 {
  position: static; 
  z-index: auto; 
}


.banner1 {
  position: relative;
  width: 100%;
  height: 380px; 
  background-image: url('images/raspberry.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: -3; 
  
}


.titulo4 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color:#496ac9;
  margin-top: 0px;
  padding-top: 0;
  margin-bottom: 70px;
  text-align: left;

}

button {
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border: 2px solid #a3baff;
  padding: 15px 10px; 
  text-align: center;
  margin-top: 0px;
}

button:hover {
  background-color: #0a3edd;
}


.tituloo {
  position: absolute;
  top: 50%;
  left:30%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.bannerimage{

  height:auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

.banner22{
  max-width: 750px; 
  margin: 0 auto; 
  align-items: center;
}


.banner2 {
  margin-bottom: 100px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 2fr 2fr; 
  width: 100%; 
  grid-gap: 0; 
  align-items: center; 
margin-left: -35px;
}

.bannercontent2 {
  align-items: flex-start;
  color: black; 
  padding: 15px;
  background-color:#f2f2f2;
  height: 453px;
  width: 550px;
  margin-left: -40px;


}

.bannercontent2 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  margin-top: 20px;
  white-space: nowrap;
  text-align: center;
}

.bannercontent2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: left;
  padding-right: 20px;
  margin-left: 55px;
}

.banner2 button {
  font-family: "Montserrat", sans-serif;
  border: 2px solid #a3baff;
  padding: 10px 120px;
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  margin-left: 75px;

}

.banner2 button:hover {
  background-color: #0a3edd;
}

.image4 {
  grid-column: 1;
  margin: 0;
  width: 320px;
  position: relative;

}


.circles {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.circlepink, .circleblue {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
 
}

.circlepink {
  background-color: #d01e55;
  position: absolute;
  width: 90px; 
  height: 90px; 
  top: -470px;
  margin-left: 395px;
  border: 8px solid white;
}

.circleblue {
  background-color: #496ac9;
  width: 170px; 
  height:170px; 
  bottom:-130px;
  right:0px;
  border: 8px solid white;
  z-index:2 ; 
}


  
footer {
	background-color: #333;
	color: white;
	padding: 20px;

  }
  
  .footer11 {
	height:300px;
	max-width: 1170px;
	margin: 0 auto; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  }
  

  .titulo3 {
	width: 280px;
	font-size:26px;
	font-weight: bold;
	margin-left: 100px;
	text-align: left;
  margin-top: -150px;
	color: #ffffff;
	font-family: "Lobster", sans-serif;

  }
  
  .footer-section a,
  .footer-section2 a,
  .contactinformation a {
	text-decoration: none; 
	color:#C1C2C4; 
	display: inline-block;
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
  
  }
  
  a:hover {
	text-decoration: underline;
  }
  
 
  .footercontent {
	display: flex;
  justify-content: flex-end; 
  width: 100%; 
  max-width: 350px; 
  align-items: center;
  margin-left: -20px; 
  }
  

  .footer-section {
  flex: 1; 
  margin-right: 20px; 
	text-align: right;

}

.footer-section2 {
  flex: 1; 
	text-align: left;
}

  .contactinformation {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	text-align: right; 
  flex: 1; 
  max-width: 300px; 

  margin-top: -5px; 
  margin-left: 15px; 
  }
	

	
	.contactinformation ul {
	list-style-type: none; 
	padding: 0; 
	}
	
	.contactinformation ul li {
	color: #C1C2C4;
	margin-bottom: 10px; 
	}
	
	

	
	.contactinformation a:hover {
		text-decoration: underline; 
	}
	
	
	.time{
		color: #C1C2C4;
		margin-right: 33px;      
	}
	

  .footer-line {
    border: none; 
    border-top: 5px solid white; 
    margin-bottom: 0;
	  margin-top: -30px;
	  width:75%;
}

  .footer2 {
	color:#C1C2C4;
	text-align: left; 
  margin-left: 160px; 
  padding: 10px; 
  padding-left: 20px; 
  max-width: 1170px; 

}



.termsprivacy {
	color:#C1C2C4;
	text-align: left;
  padding: 5px 0; 
	margin-right: 170px;

}

 .footer3 {
	max-width: 1500px;
  margin-top: -25px;
	display: block; 
  padding: 5px; 
  text-align: right;
	margin-left: 60px;

}

.footer3 a {	
  color: #ccc; 
  text-decoration: none; 
}

.footer3 a:hover {
  color: white; 
  text-decoration: underline; 
}



.link1 {
    color: #ccc;
}

.link1:hover {
  color: white;
  text-decoration: underline;
}

.footer2 p {
  margin-top: 0px; 
  margin-bottom: 0px; 
}



ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

i {
  margin-right: 10px;
}

.footer2 a{
	text-decoration: none;

}
.footer2 a.link1:hover {
	color: #ffffff;
	text-decoration: underline;
  }
  
  
  .footer3 a.link1:hover {
	color: #ffffff; 
	text-decoration: underline; 
  }
  
  .footer-section ul li a:hover {
	color:#ffffff;
	text-decoration: underline;
	
  }
  
  .footer-section2 ul li a:hover {
	color:#ffffff;
	text-decoration: underline;
  
  }
  .white{
	font-family: "Montserrat", sans-serif;
	font-size: 22px;
	color:#C1C2C4;
  
  }

  .white1{
 
	padding-top: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 22px;
	color:#C1C2C4;
  
  }

  .white2{
	margin-right:10px;
	font-family: "Montserrat", sans-serif;
	font-size: 22px;
	color:#C1C2C4;
	padding-top: 0;
	
  
  }
  abbr {
	text-decoration: none;
  }